<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>衍生测试用例</title>
    <link rel="stylesheet" href="../static/css/pagination.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/user-map.css">
    <link rel="stylesheet" href="../static/css/nuser-vps.css"/>
    <link rel="stylesheet" href="../static/css/mystyle.css">

</head>
<body>
<div class="index">
    <!--头部-->
    <div class="head">
        <b><h3>“智测”-面向智能合约的鲁棒性测试系统</h3></b>
    </div>
    <!--主体-->
    <div class="content">
        <div class="vps-left left">
            <ul class="tabs">
                <a href="index.html"><li>系统总体情况</li> </a>
                <a href="1funIdentify.html"> <li>合约函数识别</li></a>
                <a href="2getRelation.html"> <li>蜕变关系获取</li></a>
                <a href="3genCase.html"> <li>原始测试用例</li></a>
                <a href="3deriveCase.html"> <li class="selected">衍生测试用例</li></a>
                <!--                <a href="4runTest.html"> <li>蜕变测试执行</li></a>-->
                <a href="5anaResult.html"> <li>测试结果分析</li></a>
            </ul>
            <b></b>
        </div>

        <div class="vps-right">
            <i class="picture_1"></i>
            <i class="picture_2"></i>
            <i class="picture_3"></i>
            <i class="picture_4"></i>


            <button class="get-button" type="submit"  >合约部署</button>
            <button class="get-button" type="button" >测试执行</button>

            <dir class="get-relation">
                <br>
                <table id="tab"><!--cellpadding="0" cellspacing="0"-->
                    <thead>
                    <tr>
                        <th class="pointer">序号</th>
                        <th class="pointer">R</th>
                        <th class="pointer">Rf</th>
                        <th class="pointer">衍生测试用例</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr class="color_2">
                    <td class="td">MR1-1	</td><td>contains(A, a); contains(A, a_)	</td><td>result_= result	</td><td>（[1,2,3,4,5],4）</td>
                    </tr>
                    <tr class="color_2">
                    <td class="td"> MR1-2	</td><td>contains(A, a); contains(A_, a)	</td><td>result_!= result	</td><td>（[1,2,3,4,5],5）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-3	</td><td>contains(A, a); contains(B, a)	</td><td>result_!= result	</td><td>（[3,2,4,4,5],5）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-4	</td><td>contains(A, a); contains(B, a_)	</td><td>result_!= result	</td><td>（[3,2,4,4,5],4）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-5	</td><td>append(A, a); append(A, a_)	</td><td>result_!= result	</td><td>（[1,2,3,4,5],4）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-6	</td><td>append(A, a); append(B, a)	</td><td>result_!= result	</td><td>（[3,2,4,4,5],5）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-7	</td><td>sExtend(A, B); sExtend(B, A)	</td><td>result_!= result	</td><td>（[3,2,4,4,5], [1,2,3,4,5]）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-8	</td><td>sExtend(A, B); sExtend(A, C)	</td><td>result_!= result	</td><td>（[1,2,3,4,5], [4,2,6,4,5]）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-9	</td><td>difference(A, B); difference(B, A)</td><td>	result_= result	</td><td>（[3,2,4,4,5], [1,2,3,4,5]）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-10	</td><td>difference(A, B); difference(A, C)	</td><td>result_!= result	</td><td>（[1,2,3,4,5], [4,2,6,4,5]）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-11	</td><td>sReverse(A); sReverse(B)	</td><td>result_!= result	</td><td>（[3,2,4,4,5]）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-12	</td><td>Pop(A, index); Pop(A, index_)	</td><td>result_!= result	</td><td>（[1,2,3,4,5],2）</td></tr>
                    <tr class="color_2">
                    <td class="td">MR1-13	</td><td>remove(A, index) ; remove(A, index_)	</td><td>result_!= result	</td><td>（[1,2,3,4,5],2）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-14	</td><td>sPop(A，index); sPop(A, index_)	</td><td>result_!= result	</td><td>（[1,2,3,4,5],2）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-15	</td><td>sPopCheap(A, index); sPopCheap(A, index_)	</td><td>result_!= result	</td><td>（[1,2,3,4,5],2）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-16	</td><td>hasDuplicate(A); hasDuplicate(B)	</td><td>result_!= result	</td><td>（[3,2,4,4,5]）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-17	</td><td>isEqual(A, B); isEqual(B, A)	</td><td>result_= result	</td><td>（[3,2,4,4,5], [1,2,3,4,5]）</td></tr>
                    <tr class="color_2">
                    <td class="td"> MR1-18	</td><td>isEqual(A, B); isEqual(A, C)	</td><td>result_!= result	</td><td>（[1,2,3,4,5], [4,2,6,4,5]）</td></tr>


                    </tbody>
                </table>
            </dir>

        </div>

    </div>
</div>
</div>
</body>


</html>

<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/jquery.pagination.js"></script>

<script src="../static/js/jquery.eventFlow.js"></script>
<script src="../static/js/echarts.js"></script>
<script>

    /*tabe侧边栏收缩*/
    $('.tabs li').click(function () {
        var i = $(this).index();
        $(this).addClass('selected').siblings().removeClass('selected');
        $('.right .item').eq(i).show().siblings().hide();
    })
    //点击展开收缩
    $(".vps-left>b").click(function () {
        if ($(this).hasClass('out')) {
            $(".tabs").show();
            $(this).removeClass("out");
            $('.vps-right').css({width: '1517px', marginLeft: "20px"});
            $('.pie').css('width', '266px');
            $('tr td:nth-child(4)').css('width', '804px');
//
        } else {
            $(".tabs").hide();
            $(this).addClass("out");
            $('.vps-right').css({width: '1767px', marginLeft: "60px"});
            $('.pie').css('width', '326px');
            $('tr td:nth-child(4)').css('width', '990px');

        }
    });

</script>
